<WAML ?version=v3>
              <gitignore>
                      <er>Builds
                          *.waml
                          *.wml
                          *.whtml
                          *.waht
                      </er>
              </gitignore>
</WAML ?version=v4>
