<!WAML ?version=v3>
    <WAML>
              	<gitignore>
                      	<er>Builds
                          	*.waml
                          	*.wml
                          	*.whtml
                          	*.waht
                      	</er>
              	</gitignore>
    </WAML>
